body {
    color: white;
    background-color: blue;
    font-weight: bolder;
    border: solid 2px white;
    text-align: center;
    margin: 20px;
    padding: 80px;
}

.row {
    align-items: center;
}

.col-md-3 {
    border: 2px solid orange;
}